body {
  background-color: rgb(201, 201, 201);
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  text-align: center;
  margin: 70px auto;
}

h1 {
  color: crimson;
  font-weight: 900;
  font-size: 50px;
}
h2 {
  font-family: fantasy;
  padding-top: 50px;
}

hr {
  color: crimson;
  border-top: 5px solid;
  opacity: 1;
}

img {
  display: block;
  margin: 0 auto;
  padding: 10px 0px;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: crimson;
}
footer {
  font-size: 15px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.container {
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  margin: 40px auto;
  box-shadow: 8px 12px 60px rgb(41, 1, 1);
  font-size: 17px;
}
.date {
  font-size: 30px;
  font-family: fantasy;
  margin-top: 20px;
  margin-right: 30px;
  text-align: right;
}

.films {
  margin-bottom: 80px;
}

.filmList {
  font-family: fantasy;
  font-style: italic;
  font-size: 30px;
  font-weight: 600;
  margin: 50px auto;
  text-align: center;
  text-decoration-line: underline;
}

#movie {
  text-align: left;
  margin-left: -40px;
}

#years {
  text-align: right;
  margin-left: -50px;
  font-family: ;
  font-weight: 600;
}
